
%h1 Bienvenue dans 'Où est ma perceuse ?'

#description
  #contents
    %p Ce site vous permet de tracer tous les petits (ou gros) prêts que vous faite à vos amis.
  
    #explications 
      Simple d'utilisation
      %ol
        %li Quoi ?
        %li Qui ?
        %li GO ! 
      
        Ensuite, il ne vous reste plus qu'à chercher votre objet pour retrouver instantanément à qui vous l'avez prêté.

.right_col_container
  .right_col.sign_up_box
    = facebook_sign_in_link :perms=>'email'
    %h2
      =t :or
    
    - form_for resource_name, resource, :url => session_path(resource_name) do |f|
      = f.label t :email
      = f.text_field :email, :size=>30
      = f.label t :password
      = f.password_field :password, :size=>30

      - if devise_mapping.rememberable?
        %p
          = f.check_box :remember_me
          = f.label t :remember_me

      %p
        = f.submit t :sign_in
        
    = render :partial => "shared/devise_links"
    


