#pageheader
  .content
    %h1= t 'devise.sessions.link'
#container
  .content
    .contentbox
      .contentboxwrap
        %center
          = facebook_sign_in_link :perms=>'email'
%center
  %h1= t :or
#container
  .content
    .contentbox
      .contentboxwrap
        %center
          - form_for resource_name, resource, :url => session_path(resource_name) do |f|
            %table
              %tboby
                %tr
                  %td.label
                    = f.label t :email
                  %td.field
                    = f.text_field :email, :size=>30
                  %tr
                    %td.label
                      = f.label t :password
                    %td.field
                      = f.password_field :password, :size=>30
                  - if devise_mapping.rememberable?
                    %tr
                      %td.hiddenlabel
                        %label
                      %td.field(colspan=2)
                        = f.check_box :remember_me
                        = f.label t :remember_me
                    %tr
                      %td.hiddenlabel
                        %label
                      %td.field(colspan=2)
                        = f.submit t 'devise.sessions.link'
                        = link_to t('devise.passwords.link'), new_password_path(resource_name)
      



