
#topnav
  .logo
    %a(href="/")
      %img#topnav-logo(alt="Ou est ma perceuse?" src="/images/perceuse.png")    
  .content
    %ul
      %li.top-nav-home
        = link_to t(:home), :root
      %li.top-nav-signup
        = link_to t('devise.registrations.link'), :new_user_registration
      %li.top-nav-services
        = link_to t('devise.sessions.link'), :new_user_session

#hp-feature
  .content
    .list
      %img(src="http://0.static.rememberthemilk.com/img/intl/fr/hp_list.png")
    .promo
      %h1
        = t :tagline_1
      %h2
        = t :tagline_2
      #hp-signup-btn
        %table
          %tbody
            %tr
              %td.left &nbsp;
              %td#hp-signup-lnk.middle.link
                = link_to t('devise.registrations.link'), :new_user_registration
              %td.right &nbsp;
              %td.tour
                =t :or
              %td.tour
                = facebook_sign_in_link :perms=>'email', :id=>"fblogin"
      