<h1>Editing loan</h1>

<% form_for(@loan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </p>
  <p>
    <%= f.label :borrower %><br />
    <%= f.text_field :borrower %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, :use_short_month=>true, :include_blank=>true  %>
  </p>
  <p>
    <%= f.label :return_date %><br />
    <%= f.date_select :return_date, :use_short_month=>true, :include_blank=>true %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @loan %> |
<%= link_to 'Back', loans_path %>