#listbox
  #newloan
    - form_for(@loan) do |f|
      = f.label t :what
      #loan_desc_wrapper.input_new_loan
        = text_field_with_auto_complete :loan, :desc, {}, {:url => formatted_loans_path(:js), :method => :get, :with => "'search=' + element.value" }
      = f.label t :who
      #loan_borrower_wrapper.input_new_loan
        = f.text_field :borrower, :size=>nil
      = f.submit t :add_loan
  #loans
    %table#loans_table(cellpadding=0 cellspacing=0)
      %tbody
        - @loans.each do |loan| 
          %tr{:id=>loan.id}
            %td.desc
              = loan.desc
            %td.borrower
              = loan.borrower
            %td.date
              = l loan.start_date, :format => :short
            %td.returned_date
              = l loan.return_date, :format => :short unless loan.return_date == nil
            %td.return_action
              - if !loan.return_date
                = button_to t(:return), { :action => "return", :id => loan.id }
              - else
                = button_to t(:un_return), { :action => "un_return", :id => loan.id }
            %td.delete
              = button_to t(:delete), loan, :confirm =>  t(:confirm), :method => :delete 
  #toggle_returned
    - if params.include? :display_returned
      = link_to t(:hide_returned), {:display_returned => !params[:display_returned]}
    -else
      = link_to t(:display_returned), {:display_returned => !params[:display_returned]}

#detailsbox
  %p= t :detail_advice