!!!
%html(xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml")
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title 
      = t :title
    = stylesheet_link_tag :all
    = fb_connect_javascript_tag(:lang => ::I18n.locale)
    = javascript_include_tag :defaults, 'devise.facebook_connectable'
    = yield(:head)
  %body
    = init_fb_connect :XFBML, :js => :jquery
    %center
      #container
        .user_nav
          - if user_signed_in?
            = t :sign_in_as
            %b #{current_user.email}
            = link_to t(:sign_out), destroy_user_session_path
          - else
            = link_to t(:sign_up), new_user_registration_path
            = t :or
            = link_to t(:sign_in), new_user_session_path
        .change_locale 
          = link_to t(:change_locale), I18n.locale == :en ? '/?locale=fr' : '/?locale=en'
        %p.notice= notice
        %p.alert= alert
        = yield

    #fb-root
    %script{:src=>"http://connect.facebook.net/en_US/all.js"}
    %script
      FB.init({appId: '114011555315114', status: true, cookie: true, xfbml: true});
      FB.Event.subscribe('auth.login', function(response) {
      window.location.reload();
      });
