!!!
%html(xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml")
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title 
      = t :title
    = stylesheet_link_tag 'rtm.1', 'ouestmaperceuse'
    
    = fb_connect_javascript_tag(:lang => ::I18n.locale)
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'devise.facebook_connectable'
    = javascript_include_tag 'application'
    
    %script
      function go_to_edit_loan(id){
      window.location='/loans/'+id+'/edit?locale=#{I18n.locale}';
      }
    
    = yield(:head)
  %body
    %script
       jQuery.noConflict();
    = init_fb_connect :XFBML, :js => :jquery
    #content
      #appheader
        %a(href='/')
          #appheaderlogo(style='position: absolute; height: 90px; width: 85px; cursor: pointer; background: url("/images/perceuse-85x90.png") repeat scroll 0% 0% transparent;')
        #topnav
          %span#login
            - if current_user.facebook_uid? 
              #{current_user.username}
            - else
              #{current_user.email}
          |
          %span#change_locale
            = link_to t(:change_locale), I18n.locale == :en ? '/?locale=fr' : '/?locale=en'
          |
          %span#logout
            - if current_user.facebook_uid? 
              :plain
                <a href="#" onclick="try {
                  FB.Connect.logoutAndRedirect(&quot;/users/sign_out?locale=fr&quot;);
                } catch (e) { alert('RJS error:\n\n' + e.toString()); alert('FB.Connect.logoutAndRedirect(\&quot;/users/sign_out?locale=fr\&quot;);'); throw e }; return false;">
              = t :sign_out
              :plain
                </a>
              %form(action="/users/sign_out?locale=fr" id="fb_connect_sign_out_form" method="get" style="display:none;")
            - else
              = link_to t(:sign_out), destroy_user_session_path
      
      #statusbox
        - if notice != nil || alert != nil
          #orange_rbroundbox
            #content
              =notice
              =alert
      #break
            
      #appview
        = yield

